<div th:fragment="shoe-list">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
	<link href="public/css/general.css" rel="stylesheet">
	<h1>Shoes list</h1>	
	<div class="table-responsive">
    	<table class="table align-middle">
			 <thead>
				<tr>
				  <th scope="col">Name</th>
				  <th scope="col">Price</th>
				  <th scope="col">Color</th>
				  <th scope="col">Size</th>
				  <th scope="col">Stock</th>
				  <th scope="col" th:if="${isAdmin}"/>
				  <th scope="col" th:if="${isAdmin}"/>
				  <th scope="col" th:if="${isAdmin}"/>
				  <th scope="col" th:if="${isPublic}">Evaluate</th>
				  <th scope="col">Popularity</th>
				</tr>
			 </thead>
			 <tbody>
				<tr th:each="shoe: ${shoes}"> 
					<td th:text="${shoe.name}" />
					<td th:text="${shoe.price}" />
					<td th:text="${shoe.color}" />
					<td th:text="${shoe.size}" />
					<td th:text="${shoe.stock}" />
					<td th:if="${isAdmin}">
						<form action="#" th:action="@{/admin/delete-shoe}" th:object="${shoe}" method="post">
							<input type="hidden" th:value="${shoe.id}" name="id" />
							<button type="submit" class="btn btn-danger"><span class="bi-trash3-fill"></span></button>
						</form>
					</td>
					<td th:if="${isAdmin}">
						<form action="#" th:action="@{/admin/edit-shoe}" th:object="${shoe}" method="post">
							<input type="hidden" th:value="${shoe.id}" name="id" />
							<button type="submit" class="btn btn-secondary">Modify</button>
						</form>
					</td>
					<td th:if="${isAdmin}">
						<form action="#" th:action="@{/admin/show-shoe}" th:object="${shoe}" method="post">
							<input type="hidden" th:value="${shoe.id}" name="id" />
							<button type="submit" class="btn btn-secondary">Show</button>
						</form>
					</td>
					<td th:if="${isPublic}">
						<form action="#" th:action="@{/evaluate}" method="post">
							<select name="note" style="width: 40px"> class="form-control" id="eval">
							  <option>1</option>
							  <option>2</option>
							  <option>3</option>
							  <option>4</option>
							  <option>5</option>
							</select>
							<input type="hidden" th:value="${shoe.id}" name="shoeId" />
							<button type="submit" class="btn btn-secondary">Vote</button>
						</form>
					</td>
					<td th:text="${shoe.popularite}" />
				</tr>
			</tbody>
		</table>
	</div>
	<!-- pagination buttons -->
	<div class="d-flex justify-content-center">
		<form action="#" th:action="@{/}" method="get">
			<input type="hidden" th:value="${pageNumber}-1" name="pageNumber" />
			<button type="submit" class="btn btn-secondary mr-1"><span class="bi bi-arrow-left"></span></button>
		</form>
			<label>  </label>
		<form>
		</form>
		<form action="#" th:action="@{/accueil}" method="get">
			<input type="hidden" th:value="${pageNumber}+1" name="pageNumber" />
			<button type="submit" class="btn btn-secondary mr-1"><span class="bi bi-arrow-right"></span></button>
		</form>
	</div>
</div>

<div th:fragment="new-shoe">
	<div class="container-sm">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-7">
        	<h1 th:if="${isNew}">Inserting a new shoe</h1>
			<h1 th:if="${isEdit}">Modifiying a shoe</h1>
            <div class="row g-3">
				<form action="#" th:action="@{/admin/save-shoe}" th:object="${shoe}" method="post">  
					<div th:if="${isEdit}" class="form-group">   
				     	<label for="id" th:text="Id"></label>
				        <input type="text"  class="form-control" th:required="required" readonly th:field="*{id}" />
					</div>
					<div class="form-group">   
						<label for="name" th:text="Name"></label>
				        <input type="text"  class="form-control" th:required="required" th:field="*{name}" />
					</div>
					<div class="form-group">   
						<label for="color" th:text="Color"></label>
				        <input type="text"  class="form-control" th:required="required" th:field="*{color}" />
					</div>
					<div class="form-group">   
				     	<label for="price" th:text="Price"></label>
				        <input type="number" min="0" value="0" step="0.05" class="form-control" th:required="required" th:field="*{price}" />
					</div>
					<div class="form-group">   
				     	<label for="size" th:text="Size"></label>
				        <input type="number" min="1" value="1" step="1" class="form-control" th:required="required" th:field="*{size}" />
					</div>
					<div class="form-group">   
						<label for="stock" th:text="Stock"></label>
						<input type="number" min="0" value="0" step="1" class="form-control" th:required="required" th:field="*{stock}" />
					</div>
				    <input type="hidden" name="type" th:if="${isNew}" th:value="new" />
					<input type="hidden" name="type" th:if="${isEdit}" th:value="edit" />
				    <button type="submit" class="btn btn-secondary">Save</button>
				    <input class="btn btn-secondary" type="Button" value="Back" onClick="history.go(-1)">
				</form>
			</div>
		</div>
	</div>
</div>


<div th:fragment="show-shoe">
	<div class="container-sm">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-7">
            <div class="row g-3">
				<form action="#" th:action="@{/admin/show-shoe}" th:object="${shoe}" method="post">  
					<div class="card">
		                <div class="card-body">
							<div class="form-row">
		                        <div class="form-group col-12">   
									<label><strong>Name </strong></label>
									<p th:text="${shoe.name}"></p>
								</div>
		 						<div class="form-group col-12">
									<label><strong>Color </strong></label>
									<p th:text="${shoe.color}"></p>
								</div>
								<div class="form-group col-12"> 
							     	<label><strong>Price </strong></label>
							     	<p th:text="${shoe.price}"></p>
								</div>
								<div class="form-group col-12">   
							     	<label><strong>Size </strong></label>
							     	<p th:text="${shoe.size}"></p>
								</div>
								<div class="form-group col-12">  
									<label><strong>Stock </strong></label>
									<p th:text="${shoe.stock}"></p>
								</div>
							</div>
		                </div>
					</div>
				</form>
			    <form>
					<input class="btn btn-secondary" type="Button" value="Back" onClick="history.go(-1)">
				</form>
			</div>
		</div>
	</div>
</div>